body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #170624;
    min-height: 100vh;
    color: #EAE6F3;
}
header {
    background-color: #1E0B2B;
    color: #FFFFFF;
    border-top: #B39DDB solid 1px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav h1 {
    margin: 0 0 1rem 0;
    font-size: 2.2rem;
}
nav ul {
    list-style: none;
    padding: 0%;
    display: flex;
    gap: 2rem;
}
nav ul li a {
    color: #EAE6F3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s;
}
nav ul li a:hover {
    color: #D8B4FE;
}
main {
    max-width: 1700px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    background: #26143A;
    color: #EAE6F3;
    padding: 2rem;
}
section {
    margin-bottom: 2.5rem;
}
h2 {
    color: #d7c1f8;
    margin-top: 0;
}
p {
    color: #e3d9f8;
    margin-top: 0;
}
footer {
    background-color: #1E0B2B;
    color: #EAE6F3;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: #B39DDB solid 1px;
}
